---
import EducationSection from '@/components/sections/education-section.astro'
import ExperienceSection from '../components/sections/experience-section.astro'
import HeroSection from '../components/sections/hero-section.astro'
import ProjectsSection from '../components/sections/projects-section.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Felipe Garcia | Portfolio'>
  <section class='flex flex-col gap-20'>
    <HeroSection />
    <ProjectsSection />
    <ExperienceSection />
    <EducationSection />
  </section>
</Layout>
